*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    margin: 0;
    padding: 0;

}
.btn-primary{
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF5959;
    margin: 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;

}
/* Header Section Style  */

header{
    background-image: linear-gradient(rgba(139, 135, 135, 0.5), rgba(0, 0, 0, 0.5)),url("/images/donation13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: rgba(226, 19, 19, 0.849); */
    /* z-index: 1; */
}

.header-content{
    padding: 170px 300px;
    /* margin: 10px; */
    text-align: center;
    /* justify-content: center; */

}
.head-title{
    font-weight: 800;
    color: #FFFFFF;
    font-size: 35px;
    margin: 10px;
}
.head-description{
    width: 70%;
    text-align: center;
    margin: 5px auto;
    color: #FFFFFF;
    font-size: 12px;
}
/* .head-btn{

} */

/* Main Section  */
/* Donate Today  */
.main{
    margin: 0 130px;
}
.donate-today{
    margin-top: 10%;
    text-align: center;
 
}
.donate-title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.donate-description{
    color: #707070;
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.donation-box{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 150px;
}
.box{
    /* margin: 5px; */
    padding: 30px;
    /* border: ; */
    background-color: #FAFAFA;
    color: #707070;
    border: 5px;
    font-weight: 1000;
    font-size: 25px;
    border-radius: 5px;
    
}
.box:hover{
    background-color: #FFEEEE;
    color: #FF5959;
    border: 1px solid;
}
.other-amount{
    border: none;
    border-bottom: 1px solid #DADADA;
    font-size: 20px;
    width: 90%;
    margin: 50px;
    text-align: center;
    align-items: center;
    padding: 5px;
}
