*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    margin: 0;
    padding: 0;

}
.btn-primary{
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF5959;
    margin: 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;

}
/* Header Section Style  */

header{
    background-image: linear-gradient(rgba(139, 135, 135, 0.5), rgba(0, 0, 0, 0.5)),url("../images/donation13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: rgba(226, 19, 19, 0.849); */
    /* z-index: 1; */
}

.header-content{
    padding: 170px 300px;
    /* margin: 10px; */
    text-align: center;
    /* justify-content: center; */

}
.head-title{
    font-weight: 800;
    color: #FFFFFF;
    font-size: 35px;
    margin: 10px;
}
.head-description{
    width: 70%;
    text-align: center;
    margin: 5px auto;
    color: #FFFFFF;
    font-size: 12px;
}
/* .head-btn{

} */

/* Main Section  */
/* Donate Today  */
.main{
    margin: 0 130px;
}
.donate-today{
    margin-top: 10%;
    text-align: center;
 
}
.donate-title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.donate-description{
    color: #707070;
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.donation-box{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 150px;
}
.box{
    /* margin: 5px; */
    padding: 30px;
    /* border: ; */
    background-color: #FAFAFA;
    color: #707070;
    border: 5px;
    font-weight: 1000;
    font-size: 25px;
    border-radius: 5px;
    
}
.box:hover{
    background-color: #FFEEEE;
    color: #FF5959;
    border: 1px solid;
}
.other-amount{
    border: none;
    border-bottom: 1px solid #DADADA;
    font-size: 20px;
    width: 90%;
    margin: 50px;
    text-align: center;
    align-items: center;
    padding: 5px;
}
/* Section Plan  */

.doante-plan{
 
}
.plan-section{
    display: flex;
    margin: 50px 0;
    
}
.plan{
    margin: 10px;
    padding: 50px 40px;
    border-radius: 5px;
}
.plan-1{
    background-color: #dcecee;
}
.plan-2{
    background-color: #ffe7e7;
}
.plan-3{
    background-color: #f8f8e0;
}
.plan-icon{
    width: 50px;
}
.plan-title{
    margin: 20px 0 ;
    font-size: 20px;
    font-weight: 900;
}
.plan-description{
    color: #707070;
}
 /* image Album section  */
.image-album{
    
}
.main-section{
    /* width: 100%; */
}
.image-description{
    display: flex;
    padding: 50px 100px;
}
.description{
    padding: 0 90px;
    margin: auto 0;
}
.description-title{
    font-weight: 700;
    font-size: 35px;
    margin: 10px 0;
    padding: 5px 0;
}
.description-para{
    color: #707070;
    font-size: 12px;
    margin: 5px 0;
    padding: 5px 0;
}
.image>img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

/* Update section  */
.get-update{

}
.update-box{
    background-color: #FFF4D6;
    width: 70%;
    margin: 20px auto;
    padding:80px 0;
    border-radius: 1px;
    border: none;
    /* height: 50%; */

}
.update-content{
    width: 100%;
    margin: 0 auto;
    text-align: center;

}
.update-btn{
    width: 20%;
    /* padding: 0; */
    margin: 0;
}
.update-email{
    width: 70%;
    padding: 8px;
    margin: 0; 
    background-color: #D9D9D9; 
    border: none;
    border-radius: 5px;

}

/* Footer Section  */
footer{
    background-color: #0B0D17;
    /* margin: 10px 0; */

}
.foter-title{
    color: #FF5959;
    font-weight: bold;
    font-size: 25px;
    font-family:Lobster;
    text-align: center;
    padding: 20px;
}
.foter-para{
    color: #D9DBE1;
    font-weight: bold;
    font-size: 12px;
    text-align: center;

}